<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Creative - Start Bootstrap Theme</title>
    <link href="~/startbootstrap-creative-master/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom fonts for this template -->

    <link href="~/startbootstrap-creative-master/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="~/startbootstrap-creative-master/vendor/magnific-popup/magnific-popup.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="~/startbootstrap-creative-master/css/creative.css" rel="stylesheet" />
    <link href="~/Content/custom.css" rel="stylesheet" />
    <title></title>
</head>
<body>
    <div class="checkbox">
        <label>
            <input type="checkbox" class="custom-checkbox checkbox-inline"> My label
        </label>
    </div>
   

    <script src="~/Scripts/bootstrap.min.js"></script>
    <!-- Bootstrap core JavaScript -->

    <script src="~/startbootstrap-creative-master/vendor/jquery/jquery.min.js"></script>
    <script src="~/startbootstrap-creative-master/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="~/startbootstrap-creative-master/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/startbootstrap-creative-master/vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="~/startbootstrap-creative-master/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
    <!-- Custom scripts for this template -->
    <script src="~/startbootstrap-creative-master/js/creative.min.js"></script>
    <script src="~/Scripts/Home.js"></script>
    <script src="~/Scripts/ajax.js"></script>
    <script src="~/Scripts/searchAjax.js"></script>
    <script src="~/Scripts/sweetalert.min.js"></script>
</body>
</html>